:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #e5f2ff;
}

.mainBody {
  background: #e5f2ff;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

#first-page {
  margin: auto;
  width: 50%;
  height: auto;
  padding: 50px;
	background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px 6px #00000026, inset 0 0 10px 6px #00000026;
}

.name-email {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

#title {
  color: #739fc4;
  margin-bottom: 5px;
}

#description {
  color: #898f97;
  margin-bottom: 10px;
}

.tsui {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.forms {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
  border: 3px solid #739fc4;
  color: #898f97;
}

#survey-form, .name-email-con, .gender-con, .age-con, .numb-whatPet .text-con, .btn-con {
  width: 100%;
  height: auto;
  margin: auto;
}

.name, .email {
  padding: 20px;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 20px;
}

#name, #email {
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 2px solid #898f97;
}

#name:hover, #email:hover {
  border-bottom: 2px solid #39aaf5;
}

.gender, .age, .many, .suggest {
  padding: 10px;
  margin: 20px;
}

.gender-legend, .age-legend, .suggest-legend {
  background: #edf7fd;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #898f97;
  border-radius: 5px;
}

.gender-male, .gender-female, .age-young, .age-adult, .age-old, .numb, .what-pet {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.1rem;
  margin: 10px 0;
}

.label-male, .label-female, .label-young, .label-adult, .label-old {
  padding-left: 10px;
}

#male:hover, #female:hover, #age-1:hover, #age-2:hover, #age-3:hover {
  transform: scale(2);
}

#number-label, .whatPet-label {
  padding-right: 10px;
}

#number, #dropdown {
  border: 1px solid #898f97;
  background: #edf7fd;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #898f97;
  outline: none;
  text-align: center;
}

#text-area {
  width: 100%;
  height: auto;
  resize: none;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
}

.button, .button:focus {
  background-color: #39aaf5;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0px 0px 7px 15px;
  box-shadow: 1px 1px 5px 1px #00000063;
}

.button span {
  cursor: pointer;
  transition: 0.5s;
}

.button::after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
  font-size: 1.5rem;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover::after {
  opacity: 1;
  padding-right: 10px;
}

/* MEDIA QUERYS */
/*  Tablets in landscape mode, older desktop monitors */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  :root {
    font-size: 12px;
  }

  #first-page {
    width: 70%;
    padding: 50px;
  }

  .button, .button:focus {
    padding: 10px 5px 10px 10px;
  }
}

/*  Tablets in portrait mode, large display smartphones landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 12px;
  }

  #first-page {
    width: 70%;
  }

  .name, .email {
    margin: 0;
    padding: 15px;
  }

  .button, .button:focus {
    padding: 7px 2px 7px 7px;
  }
}

  /*  Smartphones in landscape mode */
@media screen and (min-width: 421px) and (max-width: 767px) {
  :root {
    font-size: 10px;
  }

  #first-page {
    width: 80%;
    padding: 30px;
  }

  .forms{
    padding: 20px;
  }

  .name, .email {
    margin: 0;
    padding: 15px;
  }

  .gender, .age, .many, .suggest {
    padding: 5px;
    margin: 20px 5px;
  }

  .gender-male, .gender-female, .age-young, 
  .age-adult, .age-old, .numb, .what-pet {
    padding: 0 12px;
  }

  .button, .button:focus {
    padding: 5px 0px 5px 5px;
  }
}

/*  Smartphones in portrait mode  */
@media screen and (max-width: 420px) {
  :root {
    font-size: 9px;
  }

  #first-page {
    width: 90%;
    padding: 20px;
  }

  .forms{
    padding: 10px;
  }

  .name, .email {
    margin: 0;
    padding: 10px;
  }

  .gender, .age, .many, .suggest {
    padding: 5px;
    margin: 10px 5px;
  }

  .gender-male, .gender-female, .age-young, 
  .age-adult, .age-old, .numb, .what-pet {
    padding: 0 10px;
  }

  .button, .button:focus {
    padding: 5px 0px 5px 5px;
  }
}